

@media (min-width: 700px) {
  .image {
    display: block;
    width: 229px;
    height: 142px;
    margin: 15px auto;
    cursor: pointer;
    text-align: center;
  }

}

@media (min-width: 320px) and (max-width: 700px) {
  .image {
    display: block;
    width: 280px;
    height: 171px;
    margin: 15px 20px;
    cursor: pointer;
    text-align: center;
  }
}
